In [2]:
import pandas as pd

In [3]:
# open ftd.csv
df = pd.read_csv('ftd.csv')
df

         SETTLEMENT DATE  QUANTITY (FAILS)  PRICE
0               20230615               475  16.19
1               20230615              2459   0.24
2               20230615                22   4.66
3               20230615              4063  10.70
4               20230615               267  16.62
...                  ...               ...    ...
5497731         20211231            822215   0.33
5497732         20211231               100   6.45
5497733         20211231               400  36.24
5497734         20211231             30575   6.79
5497735         20211231           1219803   6.56

[5497736 rows x 3 columns]

In [4]:
df.dtypes

SETTLEMENT DATE      int64
QUANTITY (FAILS)     int64
PRICE               object
dtype: object

In [5]:
# convert SETTLEMENT DATE to datetime from 20230615 this format
df['SETTLEMENT DATE'] = pd.to_datetime(df['SETTLEMENT DATE'], format='%Y%m%d')
df

        SETTLEMENT DATE  QUANTITY (FAILS)  PRICE
0            2023-06-15               475  16.19
1            2023-06-15              2459   0.24
2            2023-06-15                22   4.66
3            2023-06-15              4063  10.70
4            2023-06-15               267  16.62
...                 ...               ...    ...
5497731      2021-12-31            822215   0.33
5497732      2021-12-31               100   6.45
5497733      2021-12-31               400  36.24
5497734      2021-12-31             30575   6.79
5497735      2021-12-31           1219803   6.56

[5497736 rows x 3 columns]

In [6]:
# convert QUANTITY (FAILS) and PRICE to numeric
df['QUANTITY (FAILS)'] = pd.to_numeric(df['QUANTITY (FAILS)'], errors='coerce')
df['PRICE'] = pd.to_numeric(df['PRICE'], errors='coerce') # co
df

        SETTLEMENT DATE  QUANTITY (FAILS)  PRICE
0            2023-06-15               475  16.19
1            2023-06-15              2459   0.24
2            2023-06-15                22   4.66
3            2023-06-15              4063  10.70
4            2023-06-15               267  16.62
...                 ...               ...    ...
5497731      2021-12-31            822215   0.33
5497732      2021-12-31               100   6.45
5497733      2021-12-31               400  36.24
5497734      2021-12-31             30575   6.79
5497735      2021-12-31           1219803   6.56

[5497736 rows x 3 columns]

In [7]:
df.dtypes

SETTLEMENT DATE     datetime64[ns]
QUANTITY (FAILS)             int64
PRICE                      float64
dtype: object

In [8]:
def calculate_ftd_changes(df):
    # Convert 'SETTLEMENT DATE' to datetime
    df['SETTLEMENT DATE'] = pd.to_datetime(df['SETTLEMENT DATE'], format='%Y%m%d')
    
    # Sort the DataFrame by 'SETTLEMENT DATE'
    df.sort_values(by='SETTLEMENT DATE', inplace=True)

    # Calculate the daily change in 'QUANTITY (FAILS)'
    df['FTD Change'] = df.groupby(['SETTLEMENT DATE'])['QUANTITY (FAILS)'].transform(lambda x: x.diff().fillna(0))

    return df


# Calculate FTD changes
df_with_changes = calculate_ftd_changes(df)
df_with_changes

        SETTLEMENT DATE  QUANTITY (FAILS)   PRICE  FTD Change
4126130      2020-06-01              1126   48.04         0.0
4127047      2020-06-01              1388    9.27       262.0
4127046      2020-06-01                20   50.84     -1368.0
4127045      2020-06-01             44107    0.08     44087.0
4127044      2020-06-01               178   16.73    -43929.0
...                 ...               ...     ...         ...
743920       2024-05-14              2161    1.69      2153.0
743919       2024-05-14               263  147.98     -1898.0
743918       2024-05-14               122   20.56      -141.0
743934       2024-05-14            187802    0.72    187680.0
746340       2024-05-14             12728   15.04   -175074.0

[5497736 rows x 4 columns]

152998674234.0

-152957593965.0

In [11]:
# calculate the net FTD change
net_ftd_change = positive_ftd_sum + negative_ftd_sum
net_ftd_change

41080269.0

In [15]:
interest_paid = net_ftd_change* 20 * 0.037
interest_paid

30399399.06